@import "../../../../globalStyles/vars";

.input_field{
    display: flex;
    padding-left: 15px;
    color: $greyColor;
    font-weight: 500;
    outline: none;
    border: none;
    width: 100%;

    &::placeholder{
        font-weight: 400;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}