$whiteColor: #FFFFFF;
$blackColor: #000000;
$accentColor: #D9291C;
$accentColorHover: #c72216;
$greyColor: #0000008a;
$greyColorSecondary: #F5F5F5;
$greyColorStatus: #cdcdcd;
$greyColorBorder: #eeecec;
$greenColor: #46d020;

$mainLetterSpacing: 0.3px;

$headerShadow: 0 0 4px rgb(0 0 0 / 12%);
$mainShadow: 0 2px 4px rgb(0 0 0 / 22%);

$mainTransition: all .25s cubic-bezier(.4, 0, .2, 1);