@import "../../../globalStyles/vars";

.search_form {
    position: relative;
    display: flex;
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 2px;
    box-shadow: $mainShadow;
    transition: $mainTransition;

    @media screen and (min-width: 480px) {
        width: 400px;
    }
}

.required_mark{
    position: absolute;
    top: 6px;
    left: 6px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $accentColor;
}

.clear_button {
    position: absolute;
    right: 40px;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    border-radius: 2px;
    color: $greyColor;
    background-color: $whiteColor;
    cursor: pointer;
    transition: $mainTransition;

    &:hover,
    &:focus {
        outline: none;
        color: $accentColor;
    }
}

.search_button__enabled {
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    border-radius: 2px;
    color: $whiteColor;
    background-color: $accentColor;
    cursor: pointer;
    transition: $mainTransition;

    &:focus {
        outline: none;
    }

    // prevent sticky hover effects for buttons on touch devices
    @media (hover: hover) {
        &:hover {
            background-color: $accentColorHover;
        }
    }
}

.search_button__disabled {
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    border-radius: 2px;
    color: $greyColor;
    background-color: $greyColorSecondary;
    transition: $mainTransition;
}

.clear_button__icon,
.search_button__icon {
    fill: currentColor;
}

.cities_list{
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 100%;
    min-height: 20px;
    max-height: 158px;
    padding: 7px 15px;
    overflow: scroll;
    color: black;
    background-color: $whiteColor;
    box-shadow: $mainShadow;
    z-index: 10;

    list-style: none;
    margin: 0;


    @media screen and (min-width: 768px) {
        max-height: 135px;
    }
}

.cities_list__item{
    padding: 7px 0;
    cursor: pointer;
    transition: $mainTransition;

    @media (hover: hover) {
        &:hover {
            color: $accentColor;
        }
    }
}

.loader{
    position: absolute;
    left: 0;
    bottom: -4px;
    z-index: 30;
    width: 100%;
}