@import "../../../../globalStyles/vars";

.status__second_item {
    margin-top: 30px;
}

.status__third_item {
    margin-top: 4px;
}

.status__first_item,
.status__second_item,
.status__third_item {
    display: flex;
    min-height: 73.53px;
}

.status__icon_wrapper {
    margin-right: 20px;
}

.status__icon,
.status__icon_dots {
    fill: $greyColorStatus;
}

.status__icon_dots {
    margin-top: -12px;
    margin-bottom: 12px;
    margin-left: 7px;
}

.status__title {
    margin-bottom: 4px;
    letter-spacing: $mainLetterSpacing;
}