@import "../../../../globalStyles/vars";

.branches__item {
    position: relative;
    margin-top: 30px;
    padding: 20px 60px 20px 20px;
    height: 127.97px;
    width: 100%;
    box-shadow: $mainShadow;
    transition: $mainTransition;

    @media screen and (min-width: 480px) {
        width: 400px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 30px;
        height: 144.06px;
        flex-basis: calc(100% / 2 - 30px);
    }

    @media screen and (min-width: 1280px) {
        margin-left: 30px;
        flex-basis: calc(100% / 3 - 30px);
    }
}

.branches__index {
    margin-top: 2px;
}

.branches__address {
    margin-top: 10px;
}

.branches__schedule {
    margin-top: 10px;
}