@import "../../../globalStyles/vars";

.branches{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: -15px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: -30px;
        margin-left: -30px;
    }
}

.branches__item{
    position: relative;
    margin-top: 15px;
    padding: 20px 60px 20px 20px;
    min-height: 127.97px;
    width: 100%;
    box-shadow: $mainShadow;
    transition: $mainTransition;

    @media screen and (min-width: 480px) {
        width: 400px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
        margin-left: 30px;
        height: 144.06px;
        flex-basis: calc(100% / 2 - 30px);
    }

    @media screen and (min-width: 1280px) {
        margin-left: 30px;
        flex-basis: calc(100% / 3 - 30px);
    }
}

.branches__title{
    display: flex;
    align-items: flex-end;
    letter-spacing: $mainLetterSpacing;
}

.branches__weight,
.branches__index {
    font-size: 14px;
    color: $greyColor;
}

.branches__index{
    margin-top: 2px;
    letter-spacing: $mainLetterSpacing;
}

.branches__address{
    font-size: 14px;
    margin-top: 10px;
    letter-spacing: $mainLetterSpacing;

    // Adding limit of 2 strings in address. 
    // If address is too long it will be with ... at the end of second line
    @media screen and (min-width: 768px) {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.branches__schedule{
    font-size: 13px;
    margin-top: 10px;
    color: $greyColor;
    letter-spacing: $mainLetterSpacing;
}

.branches__schedule_open{
    font-weight: 500;
    color: $greenColor;
}

.branches__schedule_close {
    font-weight: 500;
    color: $accentColor;
}

.branches__map_link{
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    color: $greyColorStatus;
    transition: $mainTransition;

    @media (hover: hover) {
        &:hover {
            color: $accentColor;
        }
    }
}

.branches__map_icon {
    fill: currentColor;
}
